@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Smooch&display=swap');


.content {
    width: 100%;
    margin: 0;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

main section {
    text-align: center;
}

body {
    background-color: #F4EDED;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    max-width: 100%;
}

nav a:hover {
    background-color: #61E294;
    color: #000000;
}

#background {
    background-color: #99a1cc;
}

footer {
    background-color: #464D77;
    width: 100%;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: #000000;
    /*font-family: 'Koulen', cursive;*/
    font-family: 'Smooch', cursive;
    letter-spacing: .5em;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #000000;
}

footer h3 {
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    background-color: #61E294;
    color: #000000;
}

.logo {
    width: 80px;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}


main section img {
    box-sizing: border-box;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
}

#teton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #61E294;
}

#teton-box {
    justify-self: center;
    align-self: center;
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: 2;
    margin: 20px;
}

#teton-img {
    width: 100%;
    padding: 10px;
    z-index: 3;
    background-color: #000000;
}

.top-back {
    background-color: #464D77;
}

#FAQ {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}

#thick-header {
    display: grid;
    align-content: flex-start;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
    padding-left: 20px;
    padding-right: 20px;
}

.thin-header {
    display: grid;
    align-content: flex-start;
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    display: grid;
    align-content: flex-start;
    font-size: 1em;    
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

#FAQ {
    font-size: 2em;
    font-weight: bolder;
}