@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&family=Zilla+Slab:wght@300&display=swap');

:root {
    --primary-color: #E3DED4   ;
    --secondary-color: #B01C2D ;
    --accent1-color: #002164;
    --accent2-color: #000000;
  
    --heading-font: "Signika Negative";
    --paragraph-font: Zilla Slab, Helvetica, sans-serif;
  
    --headline-color-on-white: #B01C2D;
    --headline-color-on-color: #002164;
    --paragraph-color-on-white: #002164;
    --paragraph-color-on-color: #B01C2D;
    --paragraph-background-color: #E3DED4  ;
    --nav-link-color: #E3DED4;
    --nav-background-color: #B01C2D;
    --nav-hover-link-color: #E3DED4;
    --nav-hover-background-color: #002164;
}

.content {
    max-width: 100%;
    margin: 0 auto;
}

body {
    background-color: #FFFFFF;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.btn {
    border: 2px solid #E3DED4;
    background-color: #B01C2D;
    color: #E3DED4;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    font-size: x-large;
    font-family: var(--heading-font);
}

.headercolor {
    background-color: #B01C2D;
}

nav a:hover {
    background-color: #002164;
    color: #E3DED4;
}

.logo {
    width: 150px;
    height: 150px;
}

#logo_link {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    width: 150px;
    height: 150px;
    z-index: 2;
}

#extrapages {
    grid-column: 1/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.groups_link {
    grid-column: 1/2;
    border-radius: 10px;
}

.home_link {
    grid-column: 3/4;
    border-radius: 10px;
}

footer {
    color: #FFFFFF;
    height: 100px;
    background-color: #69000cc0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    justify-content: space-around;
    align-items: center;
}

.site_plan {
    color: #FFFFFF;
}


.introzone {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    justify-items:center;
    background-color: #ebd5b3;
    margin: 5%;
}

.infobrick {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    justify-items:center;
    background-color: #ebd5b3;
    margin: 5%;
}

.titles {
    justify-self:center;
    text-align: center;
    align-self: start;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343432;
    color: #FFFFFF;
    border-radius: 10px;
}

.photobox{
    max-width: 1200px;
    max-height: 675px;
    margin: 0px;
    justify-self:center;
    align-self: center;
    border: 10px solid #343432;
}

p {
    justify-self:center;
    align-self: end;
    margin: 20px;
}